extends ../layouts/common

block content
  h1(class="text-center") Book Management
  a(href="/books/create", class="btn btn-primary btn-lg") New
  br
  br
  form(action="/books/search",method="GET")
    div(class="form-group d-flex")
      input(type="text",class="form-control w-50" ,name="q" value=value ? value : '')
      button(class="btn btn-light") Search
  table(class="table")
    thead(class="thead-light")
      tr(style="text-align:center")
        th Cover Book
        th Name
        th Description
        th Tools
      each book in books  
       tr(style="text-align:center;" class="justify-content-center")
         if book.coverUrl !== undefined
           td
             img(src=`${url}/${book.coverUrl}`, width="50")
         else
           td
             img(src="https://cdn.glitch.com/c0b69024-6d9c-467e-a7cc-669b2269dcb3%2FThe_dog.jpg?v=1588297313683", width=60)
         td=book.name
         td=book.description
         td
           a(href="/books/view/"+book.id,alt="view") 
             img(src="https://cdn.glitch.com/09102522-1ad8-417e-a9d0-89efb35eab90%2Fbook.png?v=1587788199440")
           span &nbsp
           a(href="/books/update/"+book.id) 
             img(src="https://cdn.glitch.com/09102522-1ad8-417e-a9d0-89efb35eab90%2Frefresh.png?v=1587788321812")
           span &nbsp
           a(href="/books/"+book.id+"/delete") 
             img(src="https://cdn.glitch.com/09102522-1ad8-417e-a9d0-89efb35eab90%2Fdelete.png?v=1587788387153")