extends ../layouts/common

block header
 include ../layouts/header

block content
  h1 Update Book
  form(action="/books/update",method="POST", enctype="multipart/form-data")
    label Name:
    input(name="id",type="hidden", value=book.id)
    input(name="name", type="text", value=book.name)
    label Description:
    input(name="description", type="text",value=book.description)
    label Cover Book
    img(src=`${url}/${book.coverUrl}`, width=70)
    input(name="coverBook", type="file")
    button Update