extends ../layouts/common

block header
 include ../layouts/header

block content
  h1 View
  b ID
  p=book.id
  b Cover Book
  p 
   img(src=`${url}/${book.coverUrl}`)
  b Name
  p=book.name
  b Description
  p=book.description