extends ../layouts/common

block header
 include ../layouts/header
block content
  h1 Users
  a(href="/users/create", class="btn btn-primary btn-lg") New
  br
  br
  form(action="/users/search" method="GET")
    div(class="form-group d-flex")
      input(type="text", class="form-control" ,name="q" value=value ? value : '')
      button(class="btn btn-light") Search
  table(class="table")
    thead(class="thead-light")
      tr(style="text-align:center")
        th Avatar
        th Name
        th Email
        th Phone
        th numberLogin
        th Tools
      each user in users  
       tr(style="text-align:center")
         td
           if user.avatar == undefined
             img(src="https://cdn.glitch.com/c0b69024-6d9c-467e-a7cc-669b2269dcb3%2Fcoders.png?v=1588236419282",width=32)
           else
             img(src=`${url}/${user.avatar}`,width=32)
         td=user.name
         td=user.email
         td=user.phone
         td=user.wrongLoginCount
         td
           a(href="/users/view/"+user.id)
             img(src="https://cdn.glitch.com/09102522-1ad8-417e-a9d0-89efb35eab90%2Fbook.png?v=1587788199440")
           span &nbsp
           a(href="/users/update/"+user.id) 
             img(src="https://cdn.glitch.com/09102522-1ad8-417e-a9d0-89efb35eab90%2Frefresh.png?v=1587788321812")
           span &nbsp
           a(href="/users/"+user.id+"/delete") 
             img(src="https://cdn.glitch.com/09102522-1ad8-417e-a9d0-89efb35eab90%2Fdelete.png?v=1587788387153")